<div class=" m-5 p-4 align-items-center">
　<div class="body jumbotron jumbotron-fluid pt-4 bg-light text-dark">
    <div class="boby-in m-4">
         <h3 class="text-center mb-3"><span class="badge badge-secondary">Delete</span></h3>

         <a href="/"><button class="btn btn-info">Back to Blog</button></a>
    </div>
 </div> 
</div>